body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", "Arial", sans-serif;
  letter-spacing: 0.5px;
}

/* SITE-HEADER */
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.site-header-actions {
  display: flex;
  align-items: center;
}


/* SITENAV */
.sitenav-list {
  display: flex;
  list-style: none;
}

.sitenav-link {
  font-size: 13px;
  line-height: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}


/* MAIN-LINK */
.main-link {
  font-size: 13px;
  line-height: 15px;
  background-color: #ff7500;
  color: #fff;
  text-decoration: none;
}


/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #252420;
  color: #fff;
}

.hero-content {
  width: 390px;
}

.orange-line {
  width: 80px;
  height: 3px;
  background-color: #ff7500;
}

.hero-heading {
  font-size: 40px;
  line-height: 1.2;
  font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
}

.hero-img {
  width: 510px;
  height: 510px;
}

/* FEATURES */
.features-heading {
  width: 440px;
  font-size: 72px;
  line-height: 1.2;
  font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
  letter-spacing: 0.5px;
}

.features-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}


/* FEATURE */
.feature {
  width: 340px;
}

.feature-icon-wrapper {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 117, 0, 0.2);
}

.feature-title {
  font-size: 24px;
  line-height: 1.2;
  font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
}


/* PROMO */
.promo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #252420;
  color: #fff;
}

.promo-content {
  width: 440px;
}

.promo-heading {
  font-size: 40px;
  line-height: 48px;
  font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
}

.promo-highlight {
  color: #ff7500;
}

.promo-img {
  width: 440px;
  height: 440px;
  object-fit: cover;
}


/* SITE-FOOTER */
.site-footer {
  background-color: #f8f8f8;
}

.site-footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-footer ul {
  list-style: none;
}

.site-footer-socials {
  display: flex;
  align-items: center;
}

.site-footer-divider {
  height: 2px;
  background-color: rgba(37, 36, 32, 0.5);
}

.site-footer-bottom {
  display: flex;
}

.site-footer-links {
  width: 224px;
  line-height: 19px;
}

.site-footer-links a {
  text-decoration: none;
  color: #252420;
}
