body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", "Arial", sans-serif;
  letter-spacing: 0.5px;
}

*:focus {
  outline: 2px dotted #ff7500;
  outline-offset: 3px;
}

/* SITE-HEADER */
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: 5px solid #ff7500;
  background-color: #fff;
}

.logo-link {
  transition: opacity 0.4s ease;
}

.logo-link:hover {
  opacity: 0.8;
}

.logo-link:active {
  opacity: 0.6;
}

.logo-link img {
  display: block;
}

.site-header-actions {
  display: flex;
  align-items: center;
}


/* SITENAV */
.sitenav-list {
  display: flex;
  padding: 0;
  margin: 0;
  margin-right: 32px;
  list-style: none;
}

.sitenav-item {
  margin-right: 32px;
}

.sitenav-item:last-child {
  margin-right: 0;
}

.sitenav-link {
  font-size: 13px;
  line-height: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  transition: color 0.4s ease,
    opacity 0.4s ease;
}

.sitenav-link:hover {
  color: #ff7500;
}

.sitenav-link:active {
  opacity: 0.6;
}


/* MAIN-LINK */
.main-link {
  display: inline-block;
  padding: 12px 24px;
  border-radius: 4px;
  font-size: 13px;
  line-height: 15px;
  font-weight: bold;
  background-color: #ff7500;
  color: #fff;
  text-decoration: none;
  transition: opacity 0.4s ease;
}

.main-link:hover {
  opacity: 0.8;
}

.main-link:active {
  opacity: 0.6;
}


/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #252420;
  color: #fff;
}

.hero-content {
  width: 390px;
}

.orange-line {
  width: 80px;
  height: 3px;
  border: 0;
  margin: 0;
  margin-bottom: 40px;
  background-color: #ff7500;
}

.hero-heading {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 40px;
  line-height: 1.2;
  font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
}

.hero-text {
  margin-top: 0;
  margin-bottom: 32px;
}

.hero-img {
  width: 510px;
  height: 510px;
  border-radius: 8px;
}

/* FEATURES */
.features {
  padding-top: 210px;
  padding-bottom: 210px;
}

.features-heading {
  width: 440px;
  margin-top: 0;
  margin-bottom: 72px;
  font-size: 72px;
  line-height: 1.2;
  font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
  letter-spacing: 0.5px;
}

.features-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}


/* FEATURE */
.feature {
  width: 340px;
  margin-right: 40px;
}

.feature:last-child {
  margin-right: 0;
}

.feature-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(255, 117, 0, 0.2);
}

.feature-title {
  font-size: 24px;
  line-height: 1.2;
  font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
}


/* PROMO */
.promo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  background-color: #252420;
  color: #fff;
}

.promo-content {
  width: 440px;
}

.promo-heading {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 40px;
  line-height: 48px;
  font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
}

.promo-info-wrapper {
  margin-bottom: 24px;
}

.promo-text {
  margin-top: 0;
  margin-bottom: 12px;
}

.promo-text:last-child {
  margin-bottom: 0;
}

.promo-highlight {
  color: #ff7500;
}

.promo-img {
  width: 440px;
  height: 440px;
  border-radius: 12px;
  object-fit: cover;
}


/* SITE-FOOTER */
.site-footer {
  padding-top: 56px;
  padding-bottom: 56px;
  background-color: #f8f8f8;
}

.site-footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-footer ul {
  padding: 0;
  list-style: none;
}

.site-footer-socials {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
/* Img block */
.site-footer-socials li {
  margin-right: 16px;
}

.site-footer-socials li:last-child {
  margin-right: 0;
}

.site-footer-socials a {
  display: block;
  color: #252420;
}

.site-footer-socials a:hover {
  color: #ff7500;
}

.site-footer-socials a:active {
  opacity: 0.6;
}

.site-footer-socials svg {
  display: block;
}

.site-footer-divider {
  height: 2px;
  border: 0;
  margin-top: 40px;
  margin-bottom: 64px;
  background-color: rgba(37, 36, 32, 0.5);
}

.site-footer-bottom {
  display: flex;
}

.site-footer-links {
  width: 224px;
  padding: 0;
  margin: 0;
  margin-right: 68px;
  list-style: none;
  line-height: 19px;
}

.site-footer-links:last-child {
  margin-right: 0;
}

.site-footer-links a {
  text-decoration: none;
  color: #252420;
}

.site-footer-links a:hover {
  color: #ff7500;
}

.site-footer-links a:active {
  opacity: 0.6;
}
